<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sox675.fortomorow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ForTomorowActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AndroidProfile"></activity>
        <activity android:name=".AndroidTabLayoutActivity"></activity>   
        <activity android:name=".AndroidMisTurnos"></activity>  
        <activity android:name=".AndroidSearch">        </activity>
        <activity android:name=".AndroidTurnosAgenos" android:theme="@android:style/Theme.Dialog" ></activity>  
        <service android:name="AndroidService"></service>
    </application>

</manifest>